@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// -------------------- Header --------------------
.header {
    &__inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__currency {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-right: 20px;
        position: relative;
        &::before {
            content:'';
            position: absolute;
            width: 8px;
            height: 5px;
            top: 7px;
            left: 18px;
            background-repeat: no-repeat;
        }
    }
    &__currency--choice::before {
        background-image: url(../images/choice.svg);
    }
    &__basket {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

// -------------------- Menu section --------------------
.menu {
    &__list {
        display: flex;
    }
    &__list-item {
        padding-right: 20px;
    }
    &__list-link {
        position: relative;
        @extend %text-main;
        line-height: 17px;
        font-size: 14px;
        color: $default;
        padding-right: 13px;
        &::before{
            content: '';
            position: absolute;
            width: 12px;
            height: 8px;
            top: 6px;
            left: 82px;
            background-repeat: no-repeat;
        }
    }
    &__list-link--choice::before{
        background-image: url(../images/choice.svg);
    }
}

// -------------------- Top section --------------------
.top {
    &__inner {
        padding-bottom: 85px;
        position: relative;
        &::after {
            content: '';
            background-image: url(../images/content/slider-bg.png);
            position: absolute;
            width: 100%;
            height: 550px;
            top: 0;
            z-index: -1;
        }
    }
    &__slider-item {
        display: flex !important;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
    }
    &__slider-info {
        padding-left: 58px;
    }
    &__slider-title {
        @extend %title;
        font-size: 58px;
        line-height: 70px;
        margin-bottom: 35px;
    }
    &__slider-text {
        line-height: 19px;
        margin-bottom: 30px;
    }
    &__slider-btn {
        width: 170px;
        height: 50px;
        border: 1px solid #000;
        background-color: #DCE5E2;
        border-radius: 200px;
        font-size: 18px;
        cursor: pointer;
    }
    &__arrows {
        padding: 0;
        border: none;
        background: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
    }
    &__arrowleft {
        left: 16px;
    }

    &__arrowright {
        right: 16px;
    }
}

ul.slick-dots {
    position: absolute;
    top: 529px;
    left: 309px;

}

// -------------------- Category section --------------------
.category {
    &__info {
        width: 745px;
        height: 115px;
        margin: 0 auto;
        text-align: center;
    }
    //Text Options (Title and text of the entire category)
    &__title {
        @extend %title;
        font-size: 42px;
        line-height: 52px;
    }
    &__text{
        @extend %title;
        font-size: 14px;
        line-height: 17px;
    }

    //Block and Grid
    &__items {
        position: relative;
        box-shadow:0px 4px 35px rgba(0, 0, 0, 0.25);
    }
    &__inner {
        padding-top: 27px;
        margin-bottom: 56px;
        display: grid;
        grid-template-columns: 639px repeat(2, 312px);
        grid-template-rows: 472px 270px;
        gap: 72px 16px;
    }
    &__items-macbook {
        grid-area: 1 / 1 / 2 / 2;
    }
    &__items--watch {
        grid-area: 2 / 1 / 3 / 2;
    }
    &__items--iphone {
        grid-column: span 2;
        grid-row: span 2;
        grid-area: 1 / 2 / 3 / 3;
        padding-top: 144px;
        text-align: center;
    }
    &__items--tablet {
        grid-column: span 2;
        grid-row: span 2;
        grid-area: 1 / 3 / 3 / 4;
        padding-top: 115px;
    }

    //Options block (name+category)
    &__info-watch {
        display: inline-block;
        width: 174px;
        height: 95px;
        top: -103px;
        left: 37px;
        position: relative;
    }

    &__info-iphone {
        padding-left: 31px;
    }

    &__info-tablet {
        padding-left: 31px;
    }

    &__img {
        display: inline;
    }

    //Options block (category)
    &__text--iphone {
        padding-top: 41px;
        width: 56px;
        margin-left: 97px;
    }
    &__text--tablet {
        margin-left: 101px;
        width: 47px;
    }
    &__text--watch {
        width: 47px;
        padding-left: 72px;
    }
    &__text--macbook {
        margin-left: 524px;
    }

    //Options block (name)
    &__name--macbook {
        width: 192px;
        text-align: end;
        margin-left: 405px;
    }

    &__name--iphone {
        width: 250px;
        text-align: center;
    }

    &__name--tablet {
        width: 233px;
        text-align: center;
    }

    &__name--watch {
        width: 128px;
        text-align: end;
    }

    //Text Options
    &__category {
        color: $default;
        @extend %title;
        font-size: 19px;
        line-height: 19px;
    }
    &__name {
        color: $default;
        @extend %title;
        font-size: 32px;
        line-height: 33px;
        height: 77px;
    }

    //Position img
    &__img--iphone {
        padding-left: 15px;
    }
    &__img--watch{
        padding-left: 42px;
    }
    &__img--macbook{
        padding-left: 42px;
    }
}

// -------------- Section with most selled items --------------
.product {
    &__header-info {
        text-align: center
    }
    &__inner {
        max-height: 497px;
        margin-bottom: 85px;
    }
    &__title {
        @extend %title;
        font-size: 42px;
        line-height: 52px;
    }
    &__text {
        @extend %title;
        font-size: 13px;
        line-height: 16px;
    }
    &__items {
        display: flex;
        margin-bottom: 86px;
    }
    &__item {
        width: 302px;
        height: 396px;
        margin-right: 28px;
    }
    &__img {
        margin-bottom: 10px;
    }
    &__name {
        @extend %title;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    &__info {
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        margin-bottom: 25px;
    }
    &__price {
        font-size: 18px;
        line-height: 22px;
    }
}

// -------------------- footer --------------------
.footer {
    background-color: #F8F9FA;
    &__content {
        height: 300px;
        &::after {
            content: '';
            position: absolute;
            max-width: 1350px;
            bottom: 0;
            left: 0;
            right: 0;
            top: 2520px; //Changing the height of the bar
            margin: 0 auto;
            height: 1px;
            background: #DCE5E2;
        }
    }
    &__copyright {
        position: relative;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    &__info-title {
        margin-bottom: 43px;
        line-height: 120%;
        font-size: 18px;
        color: $footer;
    }
    &__info-text {
        width: 304px;
        line-height: 19px;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 27px;
        @extend %title;
    }
    &__link {
        color: $default;
        font-size: 18px;
        line-height: 22px;
    }
    &__copyright {
        p{
            @extend %title;
            line-height: 21px;
            font-size: 18px;
        }
    }
}
