@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__currency {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-right: 20px;
        position: relative;
        &::before {
            content:'';
            position: absolute;
            width: 8px;
            height: 5px;
            top: 7px;
            left: 18px;
            background-repeat: no-repeat;
        }
    }
    &__currency--choice::before {
        background-image: url(../images/choice.svg);
    }
    &__basket {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item {
        padding-right: 20px;
    }
    &__list-link {
        position: relative;
        @extend %text-main;
        line-height: 17px;
        font-size: 14px;
        color: $default;
        padding-right: 13px;
        &::before{
            content: '';
            position: absolute;
            width: 12px;
            height: 8px;
            top: 6px;
            left: 82px;
            background-repeat: no-repeat;
        }
    }
    &__list-link--choice::before{
        background-image: url(../images/choice.svg);
    }
}

.footer {
    background-color: #F8F9FA;
    &__content {
        height: 300px;
        &::after {
            content: '';
            position: absolute;
            max-width: 1350px;
            bottom: 0;
            left: 0;
            right: 0;
            top: 910px;
            margin: 0 auto;
            height: 1px;
            background: #DCE5E2;
        }
    }
    &__copyright {
        position: relative;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    &__info-title {
        margin-bottom: 43px;
        line-height: 120%;
        font-size: 18px;
        color: $footer;
    }
    &__info-text {
        width: 304px;
        line-height: 19px;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 27px;
        @extend %title;
    }
    &__link {
        color: $default;
        font-size: 18px;
        line-height: 22px;
    }
    &__copyright {
        p{
            @extend %title;
            line-height: 21px;
            font-size: 18px;
        }
    }
}
